* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

body {
    max-width: 1140px;
    width: 1150px;
    height: 100vh;
    margin: 0 auto;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}
img {
    width: 100%;
    height: 100%;
}
.header_logo {
    width: 20%;
    height: 100px;
}

.header_menu {
    /*background-color: #ff3300;*/
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.header_menu span {
   margin: auto 0;
}
.header_logo_cart i {
    font-size: 35px;
    position: relative;
}
.header_logo_cart {
    margin: auto 0;
}

sup {
    position: absolute;
    font-size: 14px;
    right: 385px;
    border-radius: 50%;
    background-color: red;
}

.container {
    width: 100%;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    padding: 20px 0;
}

.container img {
    width: 30%;
}
.wapper_left {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    /*background-color: #f30;*/
}

.wapper_right {
    text-align: center;
    width: 50%;
    background-color: #be9d96;
}

.wapper_info {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    padding: 15px 0;
}
.wapper_info input {
    height: 37px;
    width: 90%;
    border-radius: 3px;
    border: 1px solid #333;
    text-indent: 20px;
}

.wapper_info i {
    font-size: 15px;
    border: 1px solid#333;
    border-radius: 5px;
    margin:auto 0;
    padding: 10px 10px;
}

::placeholder {
    font-size: 1.2em;
    text-indent: 20px;
}
.wapper_textaria {
    border: 1px solid #333;
    width: 94%;
    margin-left: 16px;
}
.wapper_button {
    display: flex;
    left: 0;
    width: 80%;
}
textarea {
    width: 93%;
    height: 200px;
    padding: 15px 0;
}
.wapper_button button {
    border: none;
    padding: 10px 15px;
    background-color: transparent;

}

.wapper_icon {

}

.wapper_button button:hover {
    background-color: rgb(200,203,207);
}
