nav {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.wapper {
    width: 30%;
    height: 240px;
    border: 2px solid #f30;
    text-align: center;
    padding: 10px 30px;
}

.wapper h3 {
    padding: 10px 35px;
    border-bottom: 1px solid rgb(197, 193, 193);
}

.wapper p {
    padding: 15px 35px;
    border-bottom: 1px solid rgb(197, 193, 193);
    display: flex;
    justify-content: space-between;
    
}

.product_cart {
    width: 70%;
    height:150px;
}

.container_menu_cart {
    width: 33%;
    margin: 0 auto;
}

.container_menu_cart h3 {
    font-size: 33px;
}
.container_img_cart img{
    width: 100%;
    height: 150px;
}

/* &&&&&&&&&&&&&&&&&& */

.header_menu_cart {
    display: flex;
    justify-content: space-between;
    background-color: #f30;
    height: 50px;
    align-items: center;
    color: white;
}
.header_menu_cart span {
    padding: 0 10px;
    font-size: 15px;
}